[package]
name = "spel-katalog-reflect"
version = "0.1.0"
edition.workspace = true
authors.workspace = true
license.workspace = true

[dependencies]
spel-katalog-reflect-derive.workspace = true

[dev-dependencies]
pretty_assertions.workspace = true

[lints]
workspace = true
